{% extends 'base.html.twig' %}

{% block body %}

<h1>Category list</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.price }}</td>
            <td>
                <a href="{{ path('category_edit', {'id': category.Price}) }}">Edit</a>
                <a href="{{ path('category_delete', {'id': category.price}) }}">Delete</a>
            </td>
             {% for sp in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{sp.getid()}}</td>
                        <td>{{sp.getPrice()}}</td>
              
                    </tr>
            {% endblock %} 
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('app_create_Category') }}">Create a new category</a>
{% endblock %}
