{% extends 'base.html.twig' %}
{% block body %}
<h1>Category list</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
         <tr>
                        <td>{{loop.index}}</td>
                        
                        <td>{{sp.getName()}}</td>
                        <td>{{sp.getPrice()}}</td>
                       
                        <td>
                            
                        
                            <form>
                            <button type="submit" formmethod="post" formaction="{{path('app_cart_add_user',{'product_id':sp.getId()})}}">Add to cart</button>
                            </form>
                        </td>
        {% endfor %}
    </tbody>
</table>
                {# <a href="{{ path('app_edit_Category', {'id': category.Price}) }}">Edit</a> #}

<a href="{{ path('app_create_Category') }}"  class="btn btn-warning">Create a new category</a>
{% endblock %}
